{%- liquid
  assign ACCORDION_START = '<p>=====heading'
  assign ACCORDION_OPEN = '<p>=====heading:open'
  assign ACCORDION_END = '<p>=====end'

  assign line_number = 0
  assign total_lines = accordion_content.size
  assign last_line_number = total_lines | minus: 1

  assign content_lines = accordion_content | newline_to_br | split: '<br />'
-%}

{% for content_line in content_lines %}
  {%- unless content_line == "" -%}
    {% comment %} check if has heading annotation {% endcomment %}
    {%- liquid
      assign accordion_check_array = content_line | split: ACCORDION_START
      assign accordion_check_array_open = content_line | split: ACCORDION_OPEN
      assign accordion_check_array_end = content_line | split: ACCORDION_END
    -%}
    {% comment %} closing accordion before adding a new one {% endcomment %}
    {%- if accordion_check_array_end[0] == blank or accordion_check_array[0] == blank and line_number != 0 -%}
        </div>
      </details>
    {%- endif -%}

    {% if accordion_check_array[0] == blank %}
      {% comment %} add an accordion with a label {% endcomment %}
      <details 
        class="cuppe-details" 
        {%- if accordion_check_array_open[0] == blank -%}
          open=""
        {%- endif -%}
      >
        <summary class="cuppe-summary cuppe-font-accordion-label">
          {{ accordion_check_array_open[1] | default: accordion_check_array[1] | prepend: "<p>" }}
        </summary>

        <div class="cuppe-details-content cuppe-font-accordion-content">
    {%- else -%}
      {% comment %} accordion body content {% endcomment %}
      {{ content_line }}
    {%- endif -%}
  {%- endunless -%}

  {% comment %}  {% endcomment %}
  {%- if line_number == last_line_number -%}
      </div>
    </details>
  {%- else -%}
    {%- assign line_number = line_number | plus: 1 -%}
  {%- endif -%}
{% endfor %}

{% comment %} <details 
  class="cuppe-details" 
  {% if accordion_collapse %}open="open"{% endif %}
>
  <summary class="cuppe-summary cuppe-font-accordion-label">
    {{ accordion_label }}
  </summary>
  
  <div class="cuppe-details-content cuppe-font-accordion-content">
    {% if accordion_content != blank %}
      <div>
      </div> 
    {% endif %}
  </div>
</details> {% endcomment %}
