{%- assign heading_text = section.settings.heading -%}

<div id="customer-review-summary" style="padding: 2rem;">
  <div class="text-center">
    <h2 class="h1 section-header__title text-center">
      {{ heading_text }}
    </h2>
  </div>
  
  <!-- Carousel view -->
  <div>
    {% section 'okendo-reviews-carousel' %}
  </div>
  <!-- END Carousel view -->