<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
  <defs>
    <g id="waves-bottom">
        <path class="path1" d="M0 127.744L80 143.712C160 159.68 320 191.616 480 175.648C640 159.68 800 95.808 960 79.84C1120 63.872 1280 95.808 1360 111.776L1440 127.744V0H1360C1280 0 1120 0 960 0C800 0 640 0 480 0C320 0 160 0 80 0H0V127.744Z" />
    </g>
    <g id="waves-top">
        <path class="path1" d="M0 45L60 33.75C120 22.5 240 -2.01166e-06 360 7.52344C480 14.7656 600 52.7344 720 71.2266C840 90 960 90 1080 75.0234C1200 59.7656 1320 30.2344 1380 14.9766L1440 0V180H1380C1320 180 1200 180 1080 180C960 180 840 180 720 180C600 180 480 180 360 180C240 180 120 180 60 180H0V45Z" />
    </g>
  </defs>
</svg>
  
<style>
  .svg-auto-fill-color svg { color: currentColor; }
</style>

{%- assign color = section.settings.pattern_color -%}
{%- assign pattern = section.settings.pattern_choice -%}

<div class="svg-auto-fill-color" style="color: {{ color }};">
  <svg width="100%" height="100%" viewBox="0 0 1440 180" xmlns="http://www.w3.org/2000/svg">
    <use xlink:href="#{{ pattern }}"></use>
  </svg>
</div>

{% schema %}
{
  "name": "Decorative patterns",
  "settings": [
    {
      "type": "color",
      "id": "pattern_color",
      "label": "Pattern Color",
      "default": "#000",
      "info": "Pick a color for your pattern"
    },
    {
      "type": "select",
      "id": "pattern_choice",
      "label": "Pattern Choice",
      "info": "Pick a pattern",
      "options": [
        {
          "value": "waves-top",
          "label": "Waves top"
        },
        {
          "value": "waves-bottom",
          "label": "Waves bottom"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Decorations",
      "name":"Decorations"
    }
  ]
}
{% endschema %}