<div id="customer-review-summary">
  <style>
    #stamped-reviews-widget[style="display: none;"] + #noreview {
      visibility: visible !important;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-title,
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-buttons,
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-subtitle,
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll::before,
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-reviews-image
    {
      display: none !important;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll {
      height: 350px !important;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-carousel-scroll .block {
      display: inline-flex;
      flex-direction: column;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .block .stamped-ratings-wrapper {
      order: 1;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .block .stamped-reviews-date {
      order: 2;
      text-align: left;
    }

    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-reviews-message {
      margin-left: 0 !important;
      text-align: left;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-reviews-title {
      text-align: left;
      font-size: 1rem !important;
      white-space: normal !important;
    }
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-reviews-author,
    #stamped-reviews-widget[data-widget-type="carousel"] .stamped-reviews-rating {
      text-align: left;
      margin-left: 0 !important;
    }
  </style>
  
  <div class="section-header text-left">
    <h2 class="h1 section-header__title">
      Reviews
    </h2>
  </div>
  
  <!-- Carousel view -->
  <div>
    <div id="stamped-reviews-widget" 
      data-widget-type="carousel" 
      data-title="Reviews" 
      data-auto-play="true" 
      data-auto-play-speed="3000" 
      data-take="6" 
      data-product-ids="{{ product.id }}" 
      data-limit-words="70" 
      data-min-rating="3" 
      data-fill-empty="false" 
      data-show-avatar="false"
      data-random="false">
    </div>
    <div id="noreview" style="position: absolute;visibility: hidden;">No review yet</div>
  </div>
  <!-- END Carousel view -->
</div>
