<div id="customer-review-summary">
  <div class="section-header text-left">
    <h2 class="h1 section-header__title">
      Reviews
    </h2>
  </div>
  {% render 'okendo-reviews-widget', product: product %}
</div>
